div.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 48px;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, #da8342, #e45131)
}

div.nav li {
    float: left;
    border-right: 1px solid #bbb;
}

div.nav li:last-child {
    border-right: none;
}

div.nav li div,div.nav li a {
    width: 190px;
    height: 30px;
    display: block;
    color: #f6f6f1;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

div.myhome img {
    float: left;
}



div.nav li a:hover:not(.active) {
    background-color: #111;
}
