{% extends "bootstrap/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Add.css">
    <script src="../static/js/Add.js"></script>
</head>

<body>
    <div>
        <input type="button" id="open" value="添加车次">
        <form class="form-inline" action="/Amain/{{name}}">
            <div class="form-group">
                <label>出发地</label>
                <input name="origin" type="text" value="" required="">
            </div>
            <div class="form-group">
                <label>目的地</label>
                <input name="destination" type="text" value="" required="">
            </div>
            <div class="form-group">
                <label>出发日期</label>
                <input name="begintime" type="date" value="" required="">
            </div>
            <div class="form-group">
                <button type="submit">查询</button>
            </div>
        </form>
    </div>
    <div id="container">
        <!-- 背景黑色遮罩 -->
        <div id="hidden"></div>
        <div id="box">
            <strong id="close">关闭</strong>
            <form class="addtrain" method="GET" action="/Amain/{{name}}/add">
                <span><input name="train" type="text" value="" required="" placeholder="车次号"></span>
                <span><input name="maxpeople" type="text" value="" required="" placeholder="可载人数"></span>
                <span><input name="begintime" type="datetime-local" value="" required="" placeholder="出发时间"></span>
                <span><input name="endtime" type="datetime-local" value="" required="" placeholder="到达时间"></span>
                <span><input name="origin" type="text" value="" required="" placeholder="出发地"></span>
                <span><input name="destination" type="text" value="" required="" placeholder="目的地"></span>
                <span><input name="price" type="text" value="" required="" placeholder="票价"></span>
                <input type="submit" value="添加" id="add">
            </form>
        </div>
    </div>
    <div class="abox">
        <table id="table_result" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        车次号
                    </th>
                    <th>
                        可载人数
                    </th>
                    <th>
                        出发时间
                    </th>
                    <th>
                        到达时间
                    </th>
                    <th>
                        出发地
                    </th>
                    <th>
                        目的地
                    </th>
                    <th>
                        票价
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for i in content %}
                <tr>
                    {% for j in i[0:-1] %}
                    <td>{{j}}</td>
                    {% endfor %}
                    <td>
                        <a href="/Amain/{{name}}/del?Train={{i[0]}}&BeginTime={{i[2]}}&EndTime={{i[3]}}">
                            <button>删除</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- 空的div用来放分页后的表格 -->
    <div id="barcon" name="barcon"></div>
    <script>
        goPage(1, 14);

        function goPage(pno, psize) {
            var itable = document.getElementById("table_result"); //通过ID找到表格
            var num = itable.rows.length; //表格所有行数(所有记录数)
            var totalPage = 0; //总页数
            var pageSize = psize; //每页显示行数
            //总共分几页
            if (num / pageSize > parseInt(num / pageSize)) {
                totalPage = parseInt(num / pageSize) + 1;
            } else {
                totalPage = parseInt(num / pageSize);
            }
            var currentPage = pno; //当前页数
            var startRow = (currentPage - 1) * pageSize + 1; //开始显示的行  1
            var endRow = currentPage * pageSize; //结束显示的行   15
            endRow = (endRow > num) ? num : endRow;
            //遍历显示数据实现分页
            for (var i = 1; i < (num); i++) {
                var irow = itable.rows[i];
                if (i >= startRow && i <= endRow) {
                    irow.style.display = "table-row";
                } else {
                    irow.style.display = "none";
                }
            }
            // 1 15 16 30

            var tempStr = "";
            if (currentPage > 1) {
                tempStr += "<a href=\"#\" onClick=\"goPage(" + (currentPage - 1) + "," + psize +
                    ")\"><上一页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>"
                for (var j = currentPage - 1; j <= currentPage + 8; j++) {
                    if (j > 0 && j <= totalPage) {
                        tempStr += "<a href=\"#\" onClick=\"goPage(" + j + "," + psize + ")\">" + j +
                            "&nbsp;&nbsp;&nbsp;</a>";
                    }
                }
            } else {
                tempStr += "<a> <上一页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>";
                for (var j = 1; j <= 10; j++) {
                    tempStr += "<a href=\"#\" onClick=\"goPage(" + j + "," + psize + ")\">" + j +
                        "&nbsp;&nbsp;&nbsp;</a>"
                }
            }
            if (currentPage < totalPage) {
                tempStr += "<a href=\"#\" onClick=\"goPage(" + (currentPage + 1) + "," + psize +
                    ")\">下一页>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>";
                for (var j = 1; j <= totalPage; j++) {}
            } else {
                tempStr += "  下一页>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                for (var j = 1; j <= totalPage; j++) {}
            }
            document.getElementById("barcon").innerHTML = tempStr;
            // itable.rows[0].style.display = "block";
        }
    </script>
    <script>
        var open = my$('open');
        var box = my$('box');
        var hidden = my$('hidden');
        var close = my$('close');
        open.onclick = function () {
            box.style.display = 'flex';
            hidden.style.display = 'block';
        }
        close.onclick = function () {
            box.style.display = 'none';
            hidden.style.display = 'none';
            box.style.top = '200px';
            box.style.left = '';
        }
        var add = my$('add');
        add.onclick = function () {
            alert("车票添加成功");
        }
    </script>
</body>
{% endblock %}