{% block content %}
    <!--银行卡绑定模块-->
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title>绑定银行卡</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../statics/css/login.css" rel="stylesheet">
    </head>

    <body>
    <form class="login" method="post" action="">
        {% csrf_token %}
        <h1>用户充值</h1>
        <input type="password" name="givemoney" value="" required="" placeholder="充值金额"/>
        <input type="hidden" name="myid" value="{{ user.id }}">
        <input type="submit" value="充值"/>
    </form>
    </body>
    </html>
{% endblock %}